package templates

templ Base(title string) {
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/public/css/tailwind.min.css"/>
			<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
